@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&family=Roboto:wght@300;400;700&display=swap');

/* Style global */
body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../images/backgroundimg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

html, body {
    overflow-x: hidden; /* Encore pour prévenir les débordements */
}

/* Effet de transition douce pour le scroll */
html {
    scroll-behavior: smooth;
}

.container {
    text-align: center;
}

p {
    color: white;
    font-size: 1.25rem; /* Taille de police plus grande, similaire à la classe .lead de Bootstrap */
    line-height: 1.6;   /* Espacement des lignes pour améliorer la lisibilité */
    margin-bottom: 1.5rem; /* Espacement en bas des paragraphes */
}

h2 {
    font-family: cizel, serif;
    font-size: 2.5rem;
    color: #B8860B; /* Blanc pour contraste */
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
}

h3, h4 {
    color: #B8860B;
}

a {
    text-decoration: none;
}

/* Suppression des puces et marges par défaut pour les listes */
ul {
    list-style: none; /* Enlève les puces */
}

/* Masquer élément */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    clip-path: inset(100%);
    border: 0;
    overflow: hidden;
}

/* Trait de séparation */
.separator {
    border: 0; /* Retire les bordures par défaut */
    height: 2px; /* Définit l'épaisseur du trait */
    background-color: #b8860b; /* Couleur or */
    width: 50%; /* Le trait prend 50% de la largeur de son conteneur */
}

.small-logo {
    max-width: 80px;
}

.logo-noel {
    width: 200px;
    height: auto; /* Maintient les proportions */
}

.clave {
    color: #B8860B;
}

/* ------------------------------------------------------------------------------------------- HEADER  --------------------------------------------------------------------------------*/

/* Logo de l'entreprise */
.logo {
    max-width: 60px;
}

/* Personnalisation de la navigation */
.navbar {
    background-color: #000;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.navbar-nav .nav-item .nav-link {
    color: white;
    font-size: 1.2em;
    padding: 10px 15px;
    position: relative;
    transition: color 0.3s, background-color 0.3s;
}

/* Trait en or sous le lien */
.navbar-nav .nav-item .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #b8860b; /* Or */
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

/* Effet au survol */
.navbar-nav .nav-item .nav-link:hover {
    color: #b8860b; /* Texte or au survol */
}

/* Affichage du trait au survol */
.navbar-nav .nav-item .nav-link:hover::after {
    transform: scaleX(1);
}

.navbar-nav .nav-item:not(:last-child) .nav-link {
    padding-right: 15px;
}

/* Icône de la carte */
.map-icon {
    font-size: 40px; /* Taille de l'icône */
    color: #D4AF37; /* Couleur or */
    margin: 20px;
}

/* Lors du survol */
.map-icon:hover {
    color: white;
    transform: translateY(-3px); /* Légère élévation */
}

/* Bouton "Appeler" */
.btn-custom {
    color: #b8860b; /* Or */
    border: 1px solid #b8860b; /* Bordure or */
    padding: 12px 30px;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.btn-custom:hover {
    color: white;
    transform: translateY(-3px); /* Légère élévation */
    box-shadow: 0 0 15px 3px rgba(220, 220, 220, 0.7); /* Ombre grise autour du bouton */
    border: solid 1px #DCDCDC;
}

/* -------------------------------------------------------------------------------------- HERO  -------------------------------------------------------------------------------------- */

/* Section principale */
.hero {
    position: relative;
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
}

/* Vidéo de fond */
.hero-video {
    width: 100%; /* Prendre toute la largeur */
    height: 100%; /* Prendre toute la hauteur */
    object-fit: cover; /* Remplir sans déformation */
    position: absolute; /* Positionner en arrière-plan */
    top: 0;
    left: 0;
    z-index: -1; /* Placer la vidéo derrière le contenu */
}

/* Contenu de la section (texte et bouton) */
.hero-content {
    position: absolute;
    top: 70%; /* Placer au centre verticalement */
    left: 50%; /* Placer au centre horizontalement */
    transform: translate(-50%, -50%); /* Centrer précisément */
    z-index: 1; /* Placer devant la vidéo */
}

/* Style du bouton */
.hero-content .btn {
    background-color: transparent;
    color: #fff; /* Texte blanc */
    border: solid 1px;
    border-radius: 0;
    padding: 12px 30px;
    font-size: 1.25rem;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Ombre douce */
    transition: all 0.3s ease; /* Transition fluide */
}

.hero-content .btn:hover {
    color: #fff; /* Texte blanc */
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3); /* Ombre plus prononcée */
    transform: translateY(-3px); /* Effet de levée */
}

/* ------------------------------------------------------------------------------------ SECTION 1 ------------------------------------------------------------------------------------ */

/* Style pour le carrousel d'accueil */
.carousel-container {
    max-width: 700px;  /* Augmenter la largeur maximale du carrousel */
    margin: 0 auto;
    padding: 20px;
}

.carousel-inner {
    border: 1px solid #b8860b; /* Bordure dorée autour du carrousel */
    border-radius: 8px;  /* Coins arrondis */
    transition: box-shadow 0.3s;  /* Effet de transition pour l'ombre */
}

.carousel-inner:hover {
    box-shadow: 0 0 15px #b8860b;  /* Ombre dorée au survol */
}

.carousel-inner:active {
    box-shadow: 0 0 20px #b8860b;  /* Ombre plus accentuée lors de l'activation */
}

.carousel-item {
    height: auto;  /* Permet à l'élément de s'ajuster automatiquement à son contenu */
    background: transparent; /* Fond transparent */
}

.carousel-item img {
    max-height: 300px;  /* Fixe une hauteur maximale pour les images */
    object-fit: contain; /* Assure que l'image s'ajuste bien sans être déformée */
}

.carousel-control-prev,
.carousel-control-next {
    width: 50px;  /* Taille des flèches */
    height: 50px;
    border-radius: 50%; /* Flèches arrondies */
    background: rgba(0, 0, 0, 0.5);  /* Fond noir semi-transparent */
    top: 50%;  /* Alignement vertical des flèches */
    transform: translateY(-50%);  /* Centrage vertical des flèches */
    opacity: 0.8;  /* Légèrement transparent */
    transition: all 0.3s;  /* Transition pour l'effet de survol */
    margin: 10px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background: rgba(0, 0, 0, 0.7);  /* Fond plus foncé au survol */
    box-shadow: 0 0 10px #b8860b;  /* Ombre dorée au survol */
}

/* Style pour les informations des produits */
.figure {
    margin: 0; /* Évite les marges externes */
    padding: 0; /* Retire tout padding éventuel */
    width: 100%; /* Assure la pleine largeur */
}

.figure-caption { 
    background-color: black; /* Fond noir */
    padding: 10px; /* Espacement interne pour un rendu propre */   
}

.figure-img {
    padding: 10px; /* Espace entre l'image et le bloc */
}

.product-description {
    font-size: 1rem;
    margin-bottom: 5px; /* Espace minimum entre les boutons slides et la description */
    font-style: italic;
}

.product-price {
    font-size: 1.25rem;
    font-weight: bold;
    color: #b8860b; /* Couleur dorée pour le prix */
}

.product-title { /* Permet de garder le carrousel de la même taille*/
    font-weight: 700; /* Texte plus fort pour le titre */
    white-space: nowrap; /* Empêche le texte de passer à la ligne suivante */
    overflow: hidden; /* Cache le texte qui dépasse du conteneur */
    text-overflow: ellipsis; /* Ajoute des "..." à la fin du texte qui dépasse */
    max-width: 100%; 
}

/* --------------------------------------------------------------------------------- SECTION EXPERTISE ---------------------------------------------------------------------------------- */

/* Style du conteneur de l'icône */
.skill-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: transparent; /* Fond transparent */
    border: 2px solid #B8860B; /* Bordure dorée */
    border-radius: 50%; /* Forme ronde */
    animation: bounce 2s infinite ease-in-out; /* Animation de rebond */
}

.skill-icon i {
    font-size: 32px; /* Taille de l'icône */
    color: #B8860B; /* Couleur dorée de l'icône */
    transition: transform 0.3s ease;
}

.skill-icon:hover {
    text-decoration: none;
    box-shadow: 0 0 15px 3px rgba(184, 134, 11, 0.7); /* Ombre dorée autour de l'icône */
}

/* Animation de rebond */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0); /* Position de base */
    }
    50% {
        transform: translateY(-20px); /* Monte légèrement */
    }
}

/* Style pour l'image du caviste */
.img-caviste {
    width: 100px;
    height: 100px;
    object-fit: cover; /* Assure que l'image ne déforme pas */
    border-radius: 50%; /* Forme ronde pour l'image */
    margin-right: 15px; /* Espacement entre l'image et le texte */
    border: 2px solid #B8860B; /* Bordure dorée autour de l'image */
}

/* ---------------------------------------------------------------------------------- SECTION NOEL --------------------------------------------------------------------------------------*/

/* Style pour les mots Noël */
.noel-style {
    color: #B22222; /* Rouge foncé festif */
    font-weight: bold; /* Met en valeur */
    text-shadow: 0 0 10px rgba(178, 34, 34, 0.7); /* Légère lueur rouge */
    font-family: 'Dancing Script', cursive; /* Police manuscrite festive (optionnelle) */
}

/* style pour la vidéo de noël */
.christmas-video {
    width: 700px;
    max-width: 100%;  /* Pour qu'elle reste responsive */
}

/* Style pour le CTA de Noël */
.cta-noel {
    display: block;  /* Ce qui permet au lien de se comporter comme un bloc */
    background: linear-gradient(45deg, #ff0000, #8b0000); /* Dégradé rouge Noël */
    color: #fff; /* Texte blanc */
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.6); /* Effet lumineux */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0 auto;
    max-width: 60%;
}

/* Effets au survol */
.cta-noel:hover {
    transform: scale(1.1); /* Agrandissement léger */
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.8), 0 0 30px rgba(139, 0, 0, 0.8); /* Lumière renforcée */
    text-decoration: none;
    color: #DCDCDC;
}

/* Effets au clic */
.cta-noel:active {
    transform: scale(0.95); /* Réduction légère au clic */
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); /* Lumière plus douce */
}

/* --------------------------------------------------------------------------------- SECTION BLOCS PRODUITS ------------------------------------------------------------------------------*/

/* Section Produits Styles */
.products {
    padding: 3rem 0; /* Espacement vertical */
    width: 90%;
}

.product-item {
    background-color: transparent; /* Fond transparent */
    border: 1px solid #b8860b; /* Bordure dorée */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Effets au survol */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%; /* Assurer une hauteur égale */
    padding: 20px;
    box-sizing: border-box;
}

.product-item:hover {
    transform: scale(1.05); /* Effet zoom au survol */
    box-shadow: 0 0 15px 3px rgba(184, 134, 11, 0.7); /* Ombre dorée */
}

.product-img {
    height: 200px; /* Hauteur fixe pour les images */
    object-fit: contain; /* Contenir l'image sans déformation */
    background-color: transparent;
    margin-bottom: 15px;
}

.product-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
}

.product-title {
    font-size: 1.5rem;
    font-weight: 700; /* Texte plus fort pour le titre */
    margin-bottom: 10px;
}

.product-text {
    font-size: 1rem;
    flex-grow: 1; /* Permet à toutes les descriptions d'occuper la même hauteur */
}

.btn-outline-light {
    border-color: #b8860b;
    color: #DCDCDC;
    transition: background-color 0.3s ease, color 0.3s ease; /* Effets au survol */
}

.btn-outline-light:hover {
    background-color: #DCDCDC; /* Fond blanc au survol */
    color: #121212; /* Texte sombre */
}

/* ---------------------------------------------------------------------------------- SECTION DEGUSTATION ------------------------------------------------------------------------------*/

/* Style pour le carrousel des 3 vidéos dégustations */
.video-carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    max-width: 100%;
    overflow: hidden;
}

.video-container {
    position: relative;
    width: 30%;
    overflow: hidden;
}

.video-main {
    width: 90%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.video-thumbnail {
    width: 85%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    filter: blur(5px);
    transition: all 0.3s ease;
}

.video-thumbnail:hover {
    cursor: pointer;
}

.video-main.active {
    filter: none;
    transform: scale(1.05);
}

/* --------------------------------------------------------------------------------- SECTION ACCES ET PRIVE ------------------------------------------------------------------------------*/

/* Style général pour la liste des facilités */
.facility-list {
    line-height: 1.8; /* Espacement confortable entre les éléments */
    text-align: justify; /* Justifie le texte */
    max-width: 600px; /* Limite la largeur pour un meilleur rendu */
    margin: 0 auto; /* Centre la liste horizontalement */
    color: white;
}

/* Style pour chaque élément de la liste */
.facility-list li {
    margin-bottom: 10px; /* Espacement entre les éléments */
}

/* Style pour les icônes de la liste */
.facility-list li::before {
    content: '✔'; /* Ajout d'une icône pour les items */
    color: #b8860b; 
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 10px; /* Espacement entre l'icône et le texte */
}

/* Icône spécifique pour la PMR */
.pmr-icon {
    color: #b8860b; /* Or pour une belle mise en valeur */
    margin-right: 10px; /* Espacement entre l'icône et le texte */
    font-size: 1.5rem; /* Taille augmentée */
    vertical-align: middle; /* Alignement avec le texte */
}

/* Partie event de la section */
.event-video {
    max-width: 300px;
    width: 90%;
    border: solid 1px black;
    border-radius: 5px;
}

/* Style pour les avantages de la privatisation */
.private-event-benefits {
    font-size: 1.2em;
    line-height: 1.6;
    padding: 10px 0;
    color: white;
}

/* --------------------------------------------------------------------------------- SECTION RESEAUX SOCIAUX -----------------------------------------------------------------------------*/

/* Agrandir les icônes sociales dans la section événements */
.social-icons-large .social-icon-large {
    width: 60px;  /* Taille fixe à 60px */
    height: 60px; /* Taille fixe à 60px */
    margin: 0 10px; /* Espace entre les icônes */
    transition: transform 0.3s ease; /* Transition fluide pour l'effet de zoom */
}

/* Enlever les styles par défaut des liens */
.social-icons-large a {
    text-decoration: none; /* Enlever le soulignement des liens */
}

/* Appliquer un effet de zoom au survol */
.social-icons-large .social-icon-large:hover {
    transform: scale(1.1); /* Zoom léger à 110% de la taille */
}

.review-block {
    background-color: #2a2a2a; /* Un gris foncé pour un aspect élégant */
    border-radius: 15px; /* Coins arrondis plus marqués */
    padding: 25px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Ombre plus douce et plus étendue */
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    height: 100%; /* Prend toute la hauteur possible dans la colonne */
}

.review-block:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 30px rgba(184, 134, 11, 0.7); /* Ombre dorée plus accentuée */
}

/* Étoiles */
.stars {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #FFD700; /* Couleur des étoiles */
}

/* Citations */
blockquote {
    color: white;
    font-size: 1rem;
    margin: 0;
    padding: 10px 0;
    line-height: 1.5;
}

/* ------------------------------------------------------------------------------- SECTION CARTE ET HORAIRES -----------------------------------------------------------------------------*/

/* Google map responsive */
.embed-responsive {
    max-width: 600px; /* Ajuste la largeur */
    margin: 0 auto;   /* Centrer l'iframe */
}

/* Section des horaires */
.hour-card {
    background-image: url("../images/backgroundimg-sombre.png");
    background-size: cover; /* Ajuste l'image pour couvrir toute la section */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Évite la répétition de l'image */
    border: 1px solid #b8860b; /* Bordure dorée */
    color: white; /* Texte blanc pour contraster */    
    max-width: 90%;
}

.hour-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

/* --------------------------------------------------------------------------------------- PAGE 2 ------------------------------------------------------------------------------------*/

/* ---------------------------------------------------------------- ATTENTION LES PRODUITS ONT LE MEME STYLE QUE SUR LA PAGE 1 --------------------------------------------------------*/

/* ------------------------------------------------------------------------------------- PAGE CONTACT ---------------------------------------------------------------------------------*/

/* Style pour le formulaire de contact */
.card {
    border: solid 1px #b8860b;
    border-radius: 10px;
    background-color: transparent;  /* Fond transparent pour la carte */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère pour la carte */
    padding: 20px;  /* Ajoute du padding à l'intérieur de la carte */
}

.card-body {
    padding: 20px;  /* Ajoute du padding à l'intérieur de la card-body */
}

.card-title {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 20px;  /* Espacement sous le titre */
}

.btn-primary {
    background-color: #b8860b;
    border-color: #DCDCDC;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #DCDCDC;
    color: #B8860B;
}

/* Styles spécifiques pour le formulaire de contact */
.card-contact {
    border: solid 1px #b8860b;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Styles spécifiques pour la newsletter */
.card-newsletter {
    border: solid 1px #b8860b;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.form-control:focus {
    box-shadow: none;
}

/* Améliorer l'aspect général du formulaire */
.form-group {
    margin-bottom: 1.5rem; /* Espacement entre les champs du formulaire */
}

/* Styliser les labels en noir */
.form-group label {
    color: white;  /* Met les labels en noir */
    font-weight: bold;  /* Met les labels en gras pour plus de lisibilité */
}

/* Améliorer la taille du bouton */
.btn-block {
    margin: 0 auto; /* Centre horizontalement */
    max-width: 30%;  /* Limite la largeur maximale du bouton */
    min-width: 117.28px;
    padding: 0.75rem; /* Ajoute du padding pour un bouton plus grand */
    font-size: 1.1rem;
    display: block;  /* Assure que le bouton est un bloc pour pouvoir le centrer */
}

/* Personnalisation du lien */
.newslink {
    color: #b8860b;  /* Couleur or */
    text-decoration: none;  /* Supprimer le soulignement par défaut */
    transition: transform 0.3s ease, color 0.3s ease;  /* Transition fluide pour l'effet de survol */
}

/* Effet de survol : grossissement et changement de couleur */
.newslink:hover {
    transform: scale(1.1);  /* Agrandir l'élément au survol */
    color: #d1a500;  /* Optionnel : tu peux assombrir ou éclaircir la couleur or si nécessaire */
}

/* --------------------------------------------------------------------------------------- FOOTER --------------------------------------------------------------------------------------- */

/* Styles pour le footer */
footer {
    background-color: #000;
    position: absolute; /* Fixe le footer à la fin de la page */
    width: 100%;  /* Occupe toute la largeur */
}

footer .logo-footer {
    display: flex;
    align-items: center;
}

footer .social-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

.social-icon:hover {
    transform: scale(1.1);
}

.contact-btn {
    background-color: #b8860b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.contact-btn:hover {
    background-color: white;
    color: black;
}

/* Augmenter l'espacement entre les liens dans le footer */
footer .footer-links a {
    margin-left: 15px;  /* Espacement à gauche des liens */
    margin-right: 15px; /* Espacement à droite des liens */
}

/* -------------------------------------------------------------------------------------- MEDIA Q -------------------------------------------------------------------------------------- */

/* Responsive - Menu mobile */
@media (max-width: 767px) {
    /* Conteneur global de la barre de navigation */
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed; /* Fixé tout en haut de la page */
        top: 0;
        left: 0;
        width: 100%; /* Prend toute la largeur */
        z-index: 10; /* S'assurer que le menu passe au-dessus des autres éléments */
        background-color: black; /* Couleur de fond */
        padding: 10px; /* Espacement interne */
    }

    /* Logo (placé à droite) */
    .logo {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%); /* Centré verticalement */
    }

    /* Bouton Hamburger (placé à gauche) */
    .navbar-toggler {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        height: auto;
    }

    /* Liste de navigation (centrée) */
    .navbar-nav {
        display: flex;
        flex-direction: column; /* Organisation verticale */
        align-items: center;    /* Centrer les liens */
        padding: 0;
        width: 100%;
    }

    /* Items de navigation */
    .navbar-nav .nav-item {
        margin: 0; /* Pas d'espacement entre les éléments */
    }

    /* Liens de navigation (texte uniquement cliquable) */
    .navbar-nav .nav-item .nav-link {
        display: inline-block;  /* Texte uniquement cliquable */
        color: #DCDCDC; /* Texte blanc au survol */
    }

    /* Bouton "Commander" (centré sous le menu) */
    .d-flex {
        display: flex;
        justify-content: center; /* Centre le bouton horizontalement */
        margin-top: 20px;        /* Espacement sous la liste */
        width: 100%;             /* Prend toute la largeur */
    }

    .btn-custom {
        padding: 10px 20px;      /* Ajuste la taille */
        font-size: 16px;         /* Ajuste la taille du texte */
        margin-bottom: 20px;
    }

    .btn-custom:hover {
        background-color: transparent; /* Fond or au survol */
        transform: translateY(-3px); /* Légère élévation */
        box-shadow: 0 0 15px 3px rgba(255, 255, 255, 0.7); /* Ombre or blanc autour du bouton au survol */
        color: #DCDCDC;
    }

    /* Icône carte (cachée sur mobile) */
    .map-icon {
        display: none;
    }
}